<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    
    <div class="table-container">
        <h2>Groups</h2>
        <form action="/group" method="GET">
            <div class="form-search">
                <input type="text" id="searchValue" name="searchValue" placeholder = "Search" value="<%= searchValue ? searchValue : '' %>">
                <button type="submit">
                    <img src="/images/search-icon.png" alt="Search">
                </button>
            </div>
        </form>
        <% if (groups.length > 0) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th><a href="#" onclick="sortTable(event, 'Name')">Name</a></th>
                        <th><a href="#" onclick="sortTable(event, 'Description')">Description</a></th>
                        <th><a href="#" onclick="sortTable(event, 'Date Created')">Date Created</a></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% groups.forEach(group => { %>
                        <tr>
                            <td><a href="/group/update/<%= group.Id %>"><%= group.Name %></a></td>
                            <td><%= group.Description %></td>
                            <td><%= group.DateCreated.split('T')[0] %></td>
                            <td>
                                <a class="delete" href="/group/delete/<%= group.Id %>">
                                    <img src="/images/delete-icon.png" alt="Delete" width="20">
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } else { %>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align: center;">No group found for the search</td>
                        </tr>
                    </tbody>
                </table>
            <% } %>
    </div>
    <%- include('../partials/pagination') %>
    <div class="row pb-3">
        <div class="col-6 text-end">
            <a href="/group/create" class="btn">Create Group</a>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>
