<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    
    <div class="table-container">
        <h2>Groups</h2>
        <% if (groups.length > 0) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date Created</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% groups.forEach(group => { %>
                        <tr>
                            <td><a href="/group/update/<%= group.Id %>"><%= group.Name %></a></td>
                            <td><%= group.Description %></td>
                            <td><%= group.DateCreated.split('T')[0] %></td>
                            <td>
                                <a class="delete" href="/group/delete/<%= group.Id %>">
                                    <img src="/images/delete-icon.png" alt="Delete" width="20">
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a class="button-link" href="?page=<%= currentPage - 1 %>" class="prev">Previous</a>
        <% } %>
    
        <% for (let i = 1; i <= totalPages; i++) { %>
            <a class="button-link" href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
        <% } %>
    
        <% if (currentPage < totalPages) { %>
            <a class="button-link" href="?page=<%= currentPage + 1 %>" class="next">Next</a>
        <% } %>
    </div>
    <div class="row pb-3">
        <div class="col-6 text-end">
            <a href="/group/create" class="btn">Create Group</a>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>
