<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="detail-ui content">
        <h2>Update Expense</h2>
        <form action="/expenses/update/<%= expense.Id %>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Name">Expense Name:</label>
                <input type="text" id="Name" name="Name" value="<%= expense.Name %>" required>
            </div>

            <div class="form-group">
                <label for="Description">Description:</label>
                <textarea id="Description" name="Description" required><%= expense.Description %></textarea>
            </div>

            <div class="form-group">
                <label for="AmountPaid">Amount Paid:</label>
                <input type="number" id="AmountPaid" name="AmountPaid" value="<%= expense.AmountPaid %>" step="0.01" required>
            </div>

            <div class="form-group">
                <label for="PaymentReceipt">Receipt (optional):</label>
                <input type="file" id="PaymentReceipt" name="PaymentReceipt">
            </div>

            <div class="image-container">
                <% if (expense.PaymentReceipt) { %>
                <img id="imagePreview" alt=""
                    style="max-width: 100%; height: auto; padding: 5px; display: block;" 
                    src="<%= expense.PaymentReceipt ? '/uploads/' + expense.PaymentReceipt : '' %>">
                <% } %>
            </div>

            <div class="form-buttons">
                <button type="submit">Update</button>
                <a href="/expenses" class="cancel-button">Cancel</a>
            </div>
        </form>
    </div>

    <script>
        document.getElementById("PaymentReceipt").addEventListener("change", function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const imgElement = document.getElementById("imagePreview");
                    imgElement.src = e.target.result;
                    imgElement.style.display = "block"; // Show image when uploaded
                    imgElement.style.maxWidth = 600;
                };
                reader.readAsDataURL(file);
            }
            else{
                const imgElement = document.getElementById("imagePreview");
                imgElement.src = "";
                imgElement.style.display = "none"; // Hide image when no file selected
            }
        });
    </script>
</body>
<%- include('../partials/footer.ejs') %>