<html xmlns="http://xineartsolutions.com">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="detail-ui content">
        <h2><%= title %></h2>
        <form action="/community/delete/<%= community._id %>" method="POST">
            <p>Are you sure you want to delete "<%= community.Name %>"?</p>
            <div class="form-buttons">
                <button type="submit">Delete</button>
                <a href="/community" class="cancel-button">Cancel</a>
            </div>
        </form>
    </div>
</body>
<%- include('../partials/footer.ejs') %>
