<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="table-container">
        <h2>Contributions</h2>
        <form action="/contribution" method="GET">
            <div class="form-search">
                <input type="text" id="searchValue" name="searchValue" placeholder = "Search">
                <button type="submit">
                    <img src="/images/search-icon.png" alt="Search">
                </button>
            </div>
        </form>
        <% if (contributions.length > 0) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Group</th>
                        <th>Due Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% contributions.forEach(contribution => { %>
                        <tr>
                            <td><a href="/contribution/update/<%= contribution.Id %>"><%= contribution.Name %></a></td>
                            <td><%= contribution.Amount.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></td>
                            <td><%= contribution.Group.Name %></td>
                            <td><%= new Date(contribution.DueDate).toLocaleDateString() %></td>
                            <td>
                                <a class="delete" href="/contribution/delete/<%= contribution.Id %>">
                                    <img src="/images/delete-icon.png" alt="Delete" width="20">
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a class="button-link" href="?page=<%= currentPage - 1 %>" class="prev">Previous</a>
        <% } %>
    
        <% for (let i = 1; i <= totalPages; i++) { %>
            <a class="button-link" href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
        <% } %>
    
        <% if (currentPage < totalPages) { %>
            <a class="button-link" href="?page=<%= currentPage + 1 %>" class="next">Next</a>
        <% } %>
    </div>
    <div class="row pb-3">
        <div class="col-6 text-end">
            <a href="/contribution/create" class="btn">Create Contribution</a>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>