<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="table-container">
        <h2>Contributions</h2>
        <form action="/contribution" method="GET">
            <div class="form-search">
                <input type="text" id="searchValue" name="searchValue" placeholder = "Search" value="<%= searchValue ? searchValue : '' %>">
                <button type="submit">
                    <img src="/images/search-icon.png" alt="Search">
                </button>
            </div>
        </form>
        <% if (contributions.length > 0) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th><a href="#" onclick="sortTable(event, 'Name')">Name</a></th>
                        <th><a href="#" onclick="sortTable(event, 'Amount')">Amount</a></th>
                        <th><a href="#" onclick="sortTable(event, 'Group')">Group</a></th>
                        <th><a href="#" onclick="sortTable(event, 'Due Date')">Due Date</a></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% contributions.forEach(contribution => { %>
                        <tr>
                            <td><a href="/contribution/update/<%= contribution.Id %>"><%= contribution.Name %></a></td>
                            <td><%= contribution.Amount.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></td>
                            <td><%= contribution.Group.Name %></td>
                            <td><%= new Date(contribution.DueDate).toLocaleDateString() %></td>
                            <td>
                                <a class="delete" href="/contribution/delete/<%= contribution.Id %>">
                                    <img src="/images/delete-icon.png" alt="Delete" width="20">
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <table>
                <tbody>
                    <tr>
                        <td style="text-align: center;">No contribution found for the search</td>
                    </tr>
                </tbody>
            </table>
        <% } %>
    </div>
    <%- include('../partials/pagination') %>
    <div class="row pb-3">
        <div class="col-6 text-end">
            <a href="/contribution/create" class="btn">Create Contribution</a>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>