<%- include('../partials/header.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>
        
        <div class="table-container">
            <h2>Expenses</h2>
            <form action="/expense" method="GET">
                <div class="form-search">
                    <input type="text" id="searchValue" name="searchValue" placeholder = "Search" value="<%= searchValue ? searchValue : '' %>">
                    <button type="submit">
                        <img src="/images/search-icon.png" alt="Search">
                    </button>
                </div>
            </form>
            <% if (expenses.length > 0) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th><a href="#" onclick="sortTable(event, 'Name')">Name</a></th>
                            <th><a href="#" onclick="sortTable(event, 'Description')">Description</a></th>
                            <th><a href="#" onclick="sortTable(event, 'Date Created')">Date Created</a></th>
                            <th><a href="#" onclick="sortTable(event, 'Amount Paid')">Amount Paid</a></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% expenses.forEach(expense => { %>
                            <tr>
                                <td><a href="/expense/update/<%= expense.Id %>"><%= expense.Name %></a></td>
                                <td><%= expense.Description %></td>
                                <td><%= expense.DateCreated.split('T')[0] %></td>
                                <td><%= expense.AmountPaid.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></td>
                                <td>
                                    <a class="delete" href="/expense/delete/<%= expense.Id %>">
                                        <img src="/images/delete-icon.png" alt="Delete" width="20">
                                    </a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align: center;">No expense found for the search</td>
                        </tr>
                    </tbody>
                </table>
            <% } %>
        </div>
        <%- include('../partials/pagination') %>
        <div class="row pb-3">
            <div class="col-6 text-end">
                <a href="/expense/create" class="btn">Create Expense</a>
            </div>
        </div>
    </body>
    <%- include('../partials/footer.ejs') %>