<%- include('../partials/header', { title: 'Expectations' }) %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="table-container">
        <h2>Expectations</h2>
        
        <% if (expectations.length > 0) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Contributor</th>
                        <th>Bill/Pledge</th>
                        <th>Amount Owed</th>
                        <th>Previously Paid</th>
                        <th>Amount to Approve</th>
                    </tr>
                </thead>
                <tbody>
                    <% expectations.forEach(item => { %>
                        <% if (item.Contributor && item.Contribution) { %>
                            <tr>
                                <td><%= item.Contributor.UserName %></td>
                                <td><%= item.Contribution.Name %></td>
                                <td><%= (item.Contribution.Amount - item.AmountPaid).toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></td>
                                <td>
                                    <% if (item.PaymentStatus === 2 || item.PaymentStatus === 3) { %>
                                        <a href="/expectation/rollback/<%= item.Id %>" class="table-button danger">
                                            Rollback <%= item.AmountPaid.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %>
                                        </a>
                                    <% } else { %>
                                        <%= item.AmountPaid.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (item.PaymentStatus === 2 || item.PaymentStatus === 3) { %>
                                        <label><%= (0).toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></label>
                                    <% } else if (item.PaymentStatus === 1) { %>
                                        <a href="/expectation/paymentApproval/<%= item.Id %>" class="table-button">
                                            Approve/Reject <%= item.AmountToApprove.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %>
                                        </a>
                                    <% } else { %>
                                        <a href="/expectation/paymentwriteoff/<%= item.Id %>" class="table-button">
                                            Write-off <%= (item.Contribution.Amount - item.AmountPaid).toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %>
                                        </a>
                                    <% } %>
                                </td>
                            </tr>
                        <% } else { %>
                            <tr>
                                <td colspan="5"></td>
                            </tr>
                        <% } %>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <table>
                <thead>
                    <tr>
                        <th>No expectations found for the search</th>
                    </tr>
                </thead>
            </table>
        <% } %>
    </div>
    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a class="button-link" href="?page=<%= currentPage - 1 %>" class="prev">Previous</a>
        <% } %>
    
        <% for (let i = 1; i <= totalPages; i++) { %>
            <a class="button-link" href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
        <% } %>
    
        <% if (currentPage < totalPages) { %>
            <a class="button-link" href="?page=<%= currentPage + 1 %>" class="next">Next</a>
        <% } %>
    </div>
</body>
<%- include('../partials/footer') %>
