<html xmlns="http://xineartsolutions.com">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    
    <div class="table-report">
        <h2>My Payment Report</h2>
        <% if (session.contributor) { %>
        
            <% if (expectations.length > 0) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Contributor</th>
                            <th>Bill/Pledge</th>
                            <th>Amount Paid</th>
                            <th>Amount Owed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let totalPaid = 0; %>
                        <% let totalOutstanding = 0; %>
                        <% let contributorId = 0; %>
                        
                        <% expectations.forEach(item => { %>
                            <% if (contributorId === 0) contributorId = item.ContributorId; %>
                            <% if (item.Contribution && item.paymentStatus != 3) { %>
                                <tr>
                                    <td><%= item.Contributor.FirstName + ' ' + item.Contributor.LastName %></td>
                                    <td><%= item.Contribution.Name %></td>
                                    <td><%= item.AmountPaid.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></td>
                                    <td><%= (item.Contribution.Amount - item.AmountPaid).toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></td>

                                    <% if (item.PaymentStatus !== 3) { %>
                                        <% totalPaid += item.AmountPaid; %>
                                        <% totalOutstanding += (item.Contribution.Amount - item.AmountPaid); %>
                                    <% } %>

                                </tr>
                            <% } else { %>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            <% } %>
                        <% }); %>
                        
                        <% if (totalOutstanding > 0) { %>
                            <tr>
                                <td></td>
                                <td><b>Total</b></td>
                                <td><b><%= totalPaid.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></b></td>
                                <td><b><%= totalOutstanding.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></b></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } else { %>
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="text-align: center;">There are no expectations for this contributor</td>
                        </tr>
                    </tbody>
                </table>
            <% } %>
        
        <% } %>
    </div>
</body>
<%- include('../partials/footer.ejs') %>
</html>